@model CostControl.API.Models.ServiceResponse<CostControl.BusinessEntity.Models.CostControl.SalePoint>

<div class="container">
	<div id="toolbar">
		<select class="form-control">
			<option value="">Export Basic</option>
			<option value="all">Export All</option>
			<option value="selected">Export Selected</option>
		</select>
	</div>

	<table class="table table-striped" id="table"
		   data-filter-show-clear="true"
		   data-show-refresh="true"
		   data-auto-refresh="true"
		   data-show-columns="true"
		   data-show-multi-sort="true"
		   data-search="true"
		   data-pagination="true"
		   showExport="true"
		   exportDataType="all"
		   exportTypes="['json', 'xml', 'png', 'csv', 'txt', 'sql', 'doc', 'excel', 'xlsx', 'pdf']"
		   Icons="glyphicon-export icon-share"
		   showToggle="true"
		   data-toggle="table"
		   data-show-toggle="true"
		   data-filter-control="true"
		   data-show-export="true"
		   data-click-to-select="true"
		   data-toolbar="#toolbar"
		   data-url="https://examples.wenzhixin.net.cn/examples/bootstrap_table/data"
		   data-side-pagination="server">
		<thead>
			<tr>
				<th data-field="id" data-align="center" data-sortable="true">Item ID</th>
				<th data-field="name" data-sortable="true">Item Name</th>
				<th data-field="price" data-sortable="true">Item Price</th>
				<th data-field="operate" data-formatter="operateFormatter" data-events="operateEvents">Item Operate</th>
			</tr>
		</thead>
		@*<tbody>
				<tr>
					<td>1</td>
					<td>Item 1</td>
					<td>$1</td>
				</tr>
				<tr>
					<td>2</td>
					<td>Item 2</td>
					<td>$2</td>
				</tr>
				<tr>
					<td>3</td>
					<td>Item 3</td>
					<td>$3</td>
				</tr>
				<tr>
					<td>4</td>
					<td>Item 4</td>
					<td>$4</td>
				</tr>
				<tr>
					<td>5</td>
					<td>Item 5</td>
					<td>$5</td>
				</tr>
				<tr>
					<td>6</td>
					<td>Item 6</td>
					<td>$6</td>
				</tr>
				<tr>
					<td>7</td>
					<td>Item 7</td>
					<td>$7</td>
				</tr>
				<tr>
					<td>8</td>
					<td>Item 8</td>
					<td>$8</td>
				</tr>
				<tr>
					<td>9</td>
					<td>Item 9</td>
					<td>$9</td>
				</tr>
				<tr>
					<td>10</td>
					<td>Item 10</td>
					<td>$10</td>
				</tr>
				<tr>
					<td>11</td>
					<td>Item 11</td>
					<td>$11</td>
				</tr>
				<tr>
					<td>12</td>
					<td>Item 12</td>
					<td>$12</td>
				</tr>
				<tr>
					<td>13</td>
					<td>Item 13</td>
					<td>$13</td>
				</tr>
				<tr>
					<td>14</td>
					<td>Item 14</td>
					<td>$14</td>
				</tr>
				<tr>
					<td>15</td>
					<td>Item 15</td>
					<td>$15</td>
				</tr>
				<tr>
					<td>16</td>
					<td>Item 16</td>
					<td>$16</td>
				</tr>
				<tr>
					<td>17</td>
					<td>Item 17</td>
					<td>$17</td>
				</tr>
				<tr>
					<td>18</td>
					<td>Item 18</td>
					<td>$18</td>
				</tr>
				<tr>
					<td>19</td>
					<td>Item 19</td>
					<td>$19</td>
				</tr>
				<tr>
					<td>20</td>
					<td>Item 20</td>
					<td>$20</td>
				</tr>
			</tbody>*@
	</table>

</div>

@section Scripts {
	<script>
		var $table = $('#table');
		$(function () {
			$('#toolbar').find('select').change(function () {
				debugger;
				$table.bootstrapTable();
				$table.bootstrapTable('changeLocale', 'fa-IR');

				$table.bootstrapTable('refreshOptions', {
					exportDataType: $(this).val()
				});
			});
		})

		function mounted() {
			$table.bootstrapTable();
			$table.bootstrapTable('changeLocale', 'fa-IR');
		}

		var trBoldBlue = $("table");

		$(trBoldBlue).on("click", "tr", function () {
			$(this).toggleClass("bold-blue");
		});

		function nameFormatter(value, row) {
			var icon = row.id % 2 === 0 ? 'fa-star' : 'fa-star-and-crescent'
			return '<i class="fa ' + icon + '"></i> ' + value
		}

		function priceFormatter(value) {
			// 16777215 == ffffff in decimal
			var color = '#' + Math.floor(Math.random() * 6777215).toString(16)
			return '<div style="color: ' + color + '">' +
				'<i class="fa fa-dollar-sign"></i>' +
				value.substring(1) +
				'</div>'
		}

		function operateFormatter(value, row, index) {
			return [
				'<a class="like" href="javascript:void(0)" title="Like">',
				'<i class="fa fa-heart"></i>',
				'</a>  ',
				'<a class="remove" href="javascript:void(0)" title="Remove">',
				'<i class="fa fa-trash"></i>',
				'</a>'
			].join('')
		}

		window.operateEvents = {
			'click .like': function (e, value, row, index) {
				alert('You click like action, row: ' + JSON.stringify(row))
			},
			'click .remove': function (e, value, row, index) {
				$table.bootstrapTable('remove', {
					field: 'id',
					values: [row.id]
				})
			}
		}
	</script>
}
